* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: #e7c1b3;
}

.nav {
	height: 50px;
	width: 100%;
	background: #54878f;
	position: relative;
}

.nav .nav-header {
	display: inline;;
}

.nav .nav-header .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px;
}

.nav .nav-btn {
	display: none;
}

.nav .nav-link {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav .nav-link a {
	display: inline-block;
	padding: 13px 10px;
	text-decoration: none;
	color: #eee;
}

.nav .nav-link a:hover {
	background:#3e656b;
}

.nav #nav-check {
	display: none;
}

@media (max-width: 700px) {
	.nav .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav .nav-btn label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav .nav-btn label:hover, .nav #nav-check:checked ~ .nav-btn label {
		background: #222;
		opacity: 0.3;
	}

	.nav .nav-btn span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}

	.nav-link {
		position: absolute;
		display: block;
		width: 100%;
		background: #3e656b;
		height: 0;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0;
	}

	.nav-link a {
		display: block;
		width: 100%;
	}

	#nav-check:not(:checked) ~ .nav-link {
		height: 0;
	}

	#nav-check:checked ~ .nav-link {
		overflow-y: auto;
		height: calc(100vh - 50px);
	}
}

.container {
	max-width: 700px;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

.cerita {
	padding: 5px;
	border: 3px solid #ddd;
	margin: 10px 0;
	border-radius: 10px;
	cursor: pointer;
	color: #111;
}

.cerita .linknya:hover, .cerita .linknya:active {
	background: #dab5a8;
}

.cari {
	padding: 10px;
	border-radius: 20px;
	border: none;
}
.tmbl {
	padding: 10px;
	text-decoration: none;
	background: #7bc0a3;
	color: #fefeff;
	font-weight: bolder;
	border-radius: 10px;
	box-shadow: 0 7px 0 rgba(0,0,0,.4);
}

.tmbl:hover, .tmbl:active {
	background: #73b398;
}

.tmbl:active {
	position: relative;
	top: 10px;
	box-shadow: none;
	transition: 0.3s;
}

.draft {
	border-color: #e6e696;
}

.tambah-cerita input, .tambah-cerita textarea{
	border: none;
	width: 100%;
	margin: 10px 0;
	padding: 10px 0 2px 0;
	background: #e7c1b3;
	border-bottom: 1px solid;
}

.tmblbuat {
	background: #7bc0a3 !important;
	border: none !important;
	padding: 10px !important;
	cursor: pointer !important;
}

.bg-popup {
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.7);
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	transition: .3s;
}

.kartu-popup {
	width: 80%;
	max-width: 500px;
	background: #eee;
	padding: 10px;
	opacity: 1;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pilihan {
	background: rgb(208, 137, 211);
	padding: 10px;
	border-radius: 20px;
	margin: 5px;
}

.tmbl-kecil {
	padding: 3px;
	border-radius: 5px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
}

.bg-bahaya {
	background: rgb(255, 62, 62);
	color: #fff;
}

.bg-peringatan {
	background: rgb(194, 194, 0);
}

.bg-oke {
	background: #ffffa9;
}

.inputan {
	padding: 7px;
	border-radius: 12px;
}